@import '../../styles/variables.styl'

.LandingPage .ui
  h1
    margin-bottom 0
    @media mobilePhones
      font-size 2.7em
    .cityName
      cursor pointer
      display inline-block
      border-bottom 3px solid transparent
      transition border-color .3s
      border-radius 8px
      transition-property padding, box-shadow, background-color, margin, border
      transition-duration Speed
      transition-timing-function ease-out
      padding 0 0.4em
      margin-left -0.4em
      box-shadow 0px 5px 15px #ddd
      border-top 2px solid #fefefe
      border-bottom 1px solid hsl(0,0,90)
      &:hover
        background-color white
        box-shadow -5px 30px 55px #aaa
        border-top 2px solid white
        border-bottom 1px solid hsl(0,0,70)
        filter scale(1.2)

  h2
    margin-top 6vh
    color grey

  .subscribe.input
    margin-bottom 0.5em
    borderWidth = 3px
    *
      border-width borderWidth
      font-weight bold
      @media mobilePhones
        font-size 0.85em
    input, input:focus
      border-color #5BBD72
      margin-right - borderWidth

  .subscribed-stats
    margin-bottom 5vh
    margin-left 1em
    opacity 0.5

  .ui.ordered.steps
    margin-bottom 5vh
    text-align left


  .typed
    display inline-block
    min-height 1em
    margin-left 0.5em


.Events
  background-color white
  padding-bottom 3vw
  h2.ui
    font-size 2em
    padding-top 1em
    font-weight 800


  .event-stats
    text-align center


.EventPreview
  display block
  min-height 5rem
  padding 1.3rem 1rem
  margin-bottom 2em
  border-radius 6px
  transition-property background-color, box-shadow
  transition-duration Speed
  transition-timing-function ease-out
  &:hover
    box-shadow 0px 20px 55px #ccc

  a
    color #333
    &:hover
      cursor pointer
      text-decoration underline


  h2.ui, h3.ui
    font-size 1.5em
