@import '../../styles/variables.styl'

.LandingPage .ui
  h1
    margin-bottom 0
    @media mobilePhones
      font-size 2.7em

  h2
    margin-top 6vh
    color grey

  .subscribe.input
    margin-bottom 5vh
    borderWidth = 3px
    *
      border-width borderWidth
      font-weight bold
      @media mobilePhones
        font-size 0.85em
    input, input:focus
      text-align center
      border-color #5BBD72
      margin-right - borderWidth

  .ui.ordered.steps
    margin-bottom 5vh
    text-align left


.Events
  background-color white


.EventPreview
  display block
  padding 1rem
  &:hover
    background-color yellow
