.LandingPage.ui
  h1
    margin-bottom 0
  h2
    margin-top 0
    color grey


  .subscribe.input
    margin-top 5vh
    margin-bottom 5vh
    borderWidth = 3px
    *
      border-width borderWidth
      font-weight bold
    input, input:focus
      text-align center
      border-color #5BBD72
      margin-right - borderWidth

