.testimonials
  ul
    padding-left 0!important
  div
    position relative
    margin-bottom 2em
    .quote.left
      position absolute
      left 0em
    p
      line-height 1.48
      padding-left 2em
      padding-right 1em
      margin-bottom 0.5em
      font-size 1.2em

    .author
      color #333
      // text-align center
      padding-left 3em
      font-style italic
      font-size 1em
      > *
        display inline-block
        vertical-align middle
      p
        text-align left
        padding 0
        padding-left 1em
        font-size 1em
