YCOrange = #fd6721
FBBlue = #3b5998
FBColor = FBBlue
FBGreen = #43a735
TwitterColor = #00aced
PocketRed = #EF4056
PocketRedPale = #F35B69

Gray = #555
Yellow = #ffff95
Pink = #fa709a
Cyan = #30cfd0
DarkBlue = #330867

// Green1 = darken(#43e97b, 25%) = #18c954
Green1 = #18c954
Green2 = #38f9d7

Blue1 = #fbc2eb
Blue2 = #a6c1ee

Gray1 = #fafafa
Gray2 = #ebebeb
Gray3 = #aaa

Speed = 0.33s
mobilePhones = "(max-width: 768px), (max-device-width: 640px), (max-device-width: 667px), (max-width: 480px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)"

pageWidth = 800px
